# Temporary commit folders
commit*_fileforge_*/

# Wrong extracted duplicate files
_*

# Zip files
*.zip

# Qt and C++ build files
build*/
debug/
release/
*.o
*.obj
*.exe
*.app
*.user
*.qmake.stash
Makefile
